rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuth() {
      return request.auth != null;
    }
    
    match /users/{userId} {
      allow read: if isAuth();
      allow write: if isAuth() && request.auth.uid == userId;
    }
    
    match /trips/{tripId} {
      allow read: if isAuth() && request.auth.uid in resource.data.memberUids;
      allow create: if isAuth();
      allow update: if isAuth() && (
        request.auth.uid == resource.data.adminUid || 
        request.auth.uid in resource.data.memberUids
      );
      allow delete: if isAuth() && request.auth.uid == resource.data.adminUid;
      
      match /photos/{photoId} {
        allow read, create: if isAuth() && request.auth.uid in get(/databases/$(database)/documents/trips/$(tripId)).data.memberUids;
        allow delete: if isAuth() && (
          request.auth.uid == resource.data.uploaderUid || 
          request.auth.uid == get(/databases/$(database)/documents/trips/$(tripId)).data.adminUid
        );
      }
    }
  }
}
